{% block media %}
    <style>
        h4 {
            padding-top: 1em;
        }

        .social {
            display: inline;
            font-size: 2.3em;
            float: none;
            border: 0;
            padding: 0;
            background: transparent;
            cursor: pointer;
            line-height: 1;
        }

        .social-form {
            display: inline;
        }

        .google-icon i {
            color: #DD4B38;
        }

        .facebook-icon i {
            color: #133783;
        }

        .github-icon i {
            color: black;
        }
    </style>
{% endblock %}

{% if oauth.has_google_auth or oauth.has_facebook_auth or oauth.has_github_auth %}
    <h4>{{ _('Or log in with...') }}</h4>
    <div>
        {% if next is not defined %}
            {% set next = '' %}
        {% endif %}
        {% if oauth.has_google_auth %}
            <form action="{{ url('social:begin', "google-oauth2") }}" method="post" class="social-form">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <button type="submit" class="social google-icon" title="{{ _('Log in with Google') }}">
                    <i class="fa fa-google-plus-square"></i>
                </button>
            </form>
        {% endif %}
        {% if oauth.has_facebook_auth %}
            <form action="{{ url('social:begin', "facebook") }}" method="post" class="social-form">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <button type="submit" class="social facebook-icon" title="{{ _('Log in with Facebook') }}">
                    <i class="fa fa-facebook-square"></i>
                </button>
            </form>
        {% endif %}
        {% if oauth.has_github_auth %}
            <form action="{{ url('social:begin', "github-secure") }}" method="post" class="social-form">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <button type="submit" class="social github-icon" title="{{ _('Log in with GitHub') }}">
                    <i class="fa fa-github-square"></i>
                </button>
            </form>
        {% endif %}
    </div>
{% endif %}
