{% extends "base.html" %}
{% block body %}
<p>{{ _('You have successfully been registered. An email has been sent to the email address you provided to confirm your
    registration.') }}</p>
<p>
    {{ _('See you soon! If you have problems activating your account, feel free to contact us at ') }}
    <a href="https://www.facebook.com/profile.php?id=61564628423543"><b>Facebook</b></a>
    {{ _(' or email ') }}
    <a href="mailto:contact@huythedev.com"><b>contact@huythedev.com</b></a>.
</p>
{% endblock %}