{% extends "common-content.html" %}

{% block title_row %}
    {% set tab = 'category' %}
    {% include "contest/contest-list-tabs.html" %}
{% endblock %}

{% block content_js_media %}
    {% include "contest/category-browser-script.html" %}
{% endblock %}

{% block body %}
    <div class="category-folder-page">
        {% if category.description %}
            <section class="category-description-card" aria-labelledby="category-description-title">
                <h3 id="category-description-title">{{ _('Description') }}</h3>
                <div>{{ category.description|markdown('problem') }}</div>
            </section>
        {% endif %}

        {% set browser_categories = subcategories %}
        {% set browser_title = category.name %}
        {% set browser_breadcrumbs = true %}
        {% set browser_create_url = (url('contest_category_create') ~ '?parent=' ~ category.slug) if perms.judge.add_contestcategory else none %}
        {% set browser_create_label = _('Create subcategory') %}
        {% set browser_empty_title = _('No subcategories yet') %}
        {% set browser_empty_description = _('This folder does not contain any subcategories.') %}
        {% include "contest/category-browser.html" %}

        <section class="category-contests-panel" aria-labelledby="category-contests-title">
            <header class="category-contests-header">
                <h3 id="category-contests-title">{{ _('Contests in this category') }}</h3>
                {% if can_edit %}
                    <a class="button button-secondary button-sm" href="{{ url('contest_category_edit', category.slug) }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        {{ _('Edit category') }}
                    </a>
                {% endif %}
            </header>

            {% if contests %}
                <div class="category-contests-table-wrap">
                    <table class="table striped">
                        <thead>
                            <tr>
                                <th>{{ _('Contest') }}</th>
                                <th>{{ _('Start') }}</th>
                                <th>{{ _('End') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contest in contests %}
                                <tr>
                                    <td>
                                        <a href="{{ url('contest_view', contest.key) }}">{{ contest.name }}</a>
                                        <span class="category-contest-key">{{ contest.key }}</span>
                                    </td>
                                    <td>{{ contest.start_time|date(_('M j, Y, G:i')) }}</td>
                                    <td>{{ contest.end_time|date(_('M j, Y, G:i')) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="category-contests-empty">{{ _('No contests assigned to this category yet.') }}</p>
            {% endif %}
        </section>
    </div>
{% endblock %}
