{% extends "common-content.html" %}

{% block title_row %}
    {% set tab = 'category' %}
    {% include "contest/contest-list-tabs.html" %}
{% endblock %}

{% block content_js_media %}
    {% include "contest/category-browser-script.html" %}
{% endblock %}

{% block body %}
    {% set browser_categories = categories %}
    {% set browser_title = _('All categories') %}
    {% set browser_create_url = url('contest_category_create') if perms.judge.add_contestcategory else none %}
    {% set browser_create_label = _('Create category') %}
    {% set browser_empty_title = _('No categories yet') %}
    {% set browser_empty_description = _('Create a category to organize contests into an easy-to-browse workspace.') %}
    {% include "contest/category-browser.html" %}
{% endblock %}
