{% macro make_tab(name, fa, url, text) %}
    <li class="tab{% if tab == name %} active{% endif %}">
        {%- if url %}<a href="{{ url }}">{% else %}<span>{% endif -%}
        <i class="tab-icon fa {{ fa }}"></i> {{ text }}
        {%- if url %}</a>{% else %}</span>{% endif -%}
    </li>
{% endmacro %}

<div class="tabs" style="display: flex; align-items: center; width: 100%;">
    {% if not left_align_tabs %}
        <h2 style="margin: 0;">{{ content_title or title }}</h2>
        <div style="flex-grow: 1;"></div>
    {% endif %}
    {% block post_tab_spacer %}{% endblock %}
    <ul style="margin: 0;">
        {% block tabs %}{% endblock %}
    </ul>
</div>
