{% extends "base.html" %}

{% block media %}
    {% block user_media %}{% endblock %}
{% endblock %}

{% block js_media %}
    {% block user_js_media %}{% endblock %}
{% endblock %}

{% block body %}
    <div class="user-info-page">
        <div class="user-sidebar">
            <img src="{{ gravatar(user, 135) }}" class="user-gravatar">
            <br>
            {% if user.user == request.user or request.user.is_superuser %}
                <div>
                    <b class="semibold">{{ _('Email:') }}</b>
                    <span style="word-wrap: break-word;">{{ user.user.email }}</span>
                </div>
            {% endif %}

            <br>
            <div>
                <a href="{{ url('all_user_submissions', user.user.username) }}">{{ _('View submissions') }}</a>
            </div>
        </div>
        <div class="user-content">{% block user_content %}{% endblock %}</div>
    </div>
{% endblock %}
